@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap');

*,
::before,
::after {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: "roboto",sans-serif;
}
main {
    padding: 0 
}

a {
    color: inherit;
    text-decoration: none;
}
h2 {
    margin:   1rem 0;
}

h3 {
    margin: 0;
}
p {
    padding: 2rem 0;
    margin: 0;
}

