@use "../utils/mixins";

@use "../utils/colors";

.fonction {
    h2 {
        margin: 2rem 0  ;
        padding-left: 2rem;
    }
    & ol {
        display: flex;
        justify-content: space-around;
        text-align: center;
        counter-reset: numbers;
        display: flex;
        padding:  0 2rem ;
        
        gap: 2rem;
        @media (max-width: 1000px){
            flex-direction: column;
        }   
    }
    & li {
        
        cursor: pointer;
        position: relative;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 500;
        font-size: 1.2rem;
        list-style-type: none;
        background-color: #f6f6f6;
        padding: 1rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        @include mixins.base-shadow;
        &:hover {
            background: lighten($color: colors.$backgroundgrey, $amount: 100%);
            @include mixins.zoom;      
        & i.fa-solid:hover  {
            color: colors.$main-color;
        }       
    }
        &::before {
            /*pastille violette*/
            content:counter(numbers);
            counter-increment: numbers;
            background-color: colors.$main-color;
            color: #f6f6f6;
            display: grid;
            place-items: center;
            width:1.5rem;
            height:1.5rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -0.7rem;
              
        }
       
    & i.fa-solid{ 
        margin-right: 1rem;
        padding: 0.5rem;
        color: colors.$lightgrey;
        font-size: 1.5rem;
        
    }
    }
}


    
