@use "../utils/zoom";
@use "../utils/boxshadow";

.fonction {
    & ol {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @media (max-width: 800px){
            flex-direction: column;
        }
    }
    & li {
    background-color: #f6f6f6;
    padding: 1rem 2rem;
    flex-grow: 1;
    border-radius: 1rem;
    @include boxshadow.base-shadow;
    &:hover {
        @include zoom.zoom;
        /*include lighten a ajouter voir color dans mixin lighten*/
    }


    }
}


    
