@use "../utils/colors";
@use "../utils/mixins";

footer {
    background-color: colors.$color-footer;
    color: white;
    padding: 2rem 1rem;
     & h3 {
        font-family: Shrikhand;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0rem 1rem 1rem 1rem;
    
    }
    & p {
        padding:0.5rem 1rem;
        font-weight: 400;   
    }
    
    @media (min-width:1000px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        padding:1.4rem 3rem;
        & p,h3 {
            margin-top: 4rem;

        }
    }    
}

.fa-utensils,
.fa-handshake-angle {
    color: #ffffff;
    margin-right: 0.5rem;  
}

.fa-utensils {
    padding-right: 10px;  
    
}