@use "../utils/colors";
@use "../utils/mixins";

footer {
   
    background-color: colors.$color-footer;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 1rem;
    h3 {
        font-family: Shrikhand;
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0rem 1rem 1rem 1rem;
        
    }
    p {
        padding:0.3rem 1rem;
        font-weight: 400;   
    }
   
   

    @media (min-width:1000px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
       
        p {
            margin-top: 3.7rem;

        }
        h3 {
           order:1;
           margin:3.5rem 0 0 3rem  ;
            
        }
        
    }    

}
.fa-utensils,
.fa-handshake-angle {
    color: #ffffff;
    margin-right: 0.5rem;  
}

.fa-utensils {
    padding-right: 10px;  
    
}