@use "../utils/colors";

footer {
    
    background-color: colors.$color-footer;
    color: white;
    padding: 2rem 1rem;
     & h3 {
        font-family: Shrikhand;
        font-weight: 400;
        padding-bottom: 1rem;
    }
    & p {
        padding:0.3rem 0;
        font-weight: 400;   
    }
    & ol {
        list-style: none;
        padding: 0 
    }
    & li {
        padding:  0.3rem 0;
    }
}

.fa-utensils,
.fa-handshake-angle {
    color: #ffffff;
    margin-right: 0.5rem;  
}

.fa-utensils {
    padding-right: 10px;  
    
}