@use "../utils/mixins";

header {
    box-shadow:2px 1px 8px #00000057;
    display: flex;
    font-family: "shrikhand";
    justify-content: center;
    padding: 0.3rem;
    margin: 0;
    position: relative;
}