
@use "../utils/colors";
@use "../utils/mixins";




.menus {
    background-color: #f6f6f6;
    padding: 2rem 2rem 0 2rem ;
    margin: 3rem 0 8rem 0;
    
    
    
    &__cards {
        display: grid; 
        grid-template-columns: 1fr 1fr;
        gap:5rem 2rem;
       
        
        @media (max-width:800px){
            grid-template-columns: 1fr;
            
        }

        .new {
            position: relative;
        }
        .new::before {
            content:"Nouveau";
            position: absolute;
            height: 2rem;
            width: 6rem;
            background-color:colors.$color-tertiary ;
            color: darken($color: colors.$color-tertiary, $amount:40%);
            font-weight: 500;
            display: grid;
            place-items: center;
            right: 1rem;
            top: 1rem;
            border-radius: 2px;
        }    
    }


    .card {
        
        height: 4rem;
        flex-grow: 1;
        min-width: 20rem;
        height: 15rem;
        gap: 1rem;
        
        &__image {
            background-position: left 50% top 75%;
            background-size: cover;
            height: 14rem;
            border-radius: 1rem 1rem 0 0;  
            
        }
        &__image-1 {
            background-image: url(../../asset/images/restaurants/resto1.jpg);
        }
        &__image-2 {
            background-image: url(../../asset/images/restaurants/resto2.jpg);
        }
        &__image-3 {
            background-image: url(../../asset/images/restaurants/resto3.jpg);
        }
        &__image-4 {
            background-image: url(../../asset/images/restaurants/resto4.jpg);
        }
        &__description {
            position: relative;
            
            h3 {
             padding:  0.5rem 1rem ;
            }
            p {
                padding: 0 0 1rem 1rem   
            }
            i {
                position: absolute;
                right: 2rem;
                top: 50%;
                font-size: 2rem;
            }
                
       
     }

     .fas {
        z-index:3;
        opacity:0;
        transition: opacity 0.5s ease-in-out;
        /*@include linear-gradient.gradient;*/
        color: colors.$main-color;
        
        
        &:hover {
         opacity: 1;
         
         }
         &:not(:hover) {
             opacity: 0;
         }
        }
    
     .card-box {
        
        border-radius: 1rem;
        @include mixins.base-shadow;
        &:hover {
            background: lighten($color: colors.$backgroundgrey, $amount: 100%);
        }
        
        }
       
     }
    }
