@use "../utils/colors";
/*partie en dessous du header qui sert a la recherche(inactive)*/
.recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$color-recherche;
  padding: 0.5rem 0 0.5rem 9rem;
  color: black;
  @media (max-width:500px) {
    padding: 0.5rem 0 0.5rem 15%;
  }

  p {
    padding: 0.5rem 2rem;
  }
  i {
    font-size: 1.2rem;
  }
}
input {
  font-weight: 600;
  border: none;
  font-size: 1.3rem;
  background-color: colors.$color-recherche;
  padding: 0.5rem;
  color: black;
}
