@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
}

main {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

h2 {
  margin: 2rem 0;
}

h3 {
  margin: 0;
}

p {
  padding: 1rem 0;
  margin: 0;
}

header {
  display: flex;
  font-family: "shrikhand";
  justify-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.3rem;
  margin: 0;
  position: relative;
}

.recherche {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  padding: 0.5rem;
}
.recherche i {
  font-size: 1.5rem;
}

.explore {
  text-align: center;
}
.explore h2 {
  margin-top: 2rem;
  font-size: 2rem;
}
.explore p {
  font-size: 1rem;
}
.explore button {
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 2rem;
  transition: all 200ms;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3411764706);
}
.explore button:hover {
  transform: scale(1.03);
}

.fonction h2 {
  margin: 2rem 0;
  padding-left: 2rem;
}
.fonction ol {
  display: flex;
  justify-content: space-around;
  text-align: center;
  counter-reset: numbers;
  display: flex;
  padding: 0 2rem;
  gap: 2rem;
}
@media (max-width: 1000px) {
  .fonction ol {
    flex-direction: column;
  }
}
.fonction li {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.3411764706);
}
.fonction li::before {
  /*pastille violette*/
  content: counter(numbers);
  counter-increment: numbers;
  background-color: #9356DC;
  color: #f6f6f6;
  display: grid;
  place-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.7rem;
}
.fonction li:hover {
  transform: scale(1.03);
  /*include lighten a ajouter voir color dans mixin lighten*/
}
.fonction li i.fas {
  margin-right: 1rem;
  padding: 0.5rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}

/*@mixin lighten ($color){
    color: lighten($color: $color, $amount: 20%);
}*/
.menus {
  background-color: #f6f6f6;
  padding: 1rem 2rem;
  margin: 2rem 0;
}
.menus__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  border-radius: 1rem;
}
@media (max-width: 1000px) {
  .menus__cards {
    grid-template-columns: 1fr;
  }
}
.menus__cards .new {
  position: relative;
}
.menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 6rem;
  background-color: #99e2d0;
  color: #278870;
  font-weight: 500;
  display: grid;
  place-items: center;
  right: 1rem;
  top: 1rem;
  border-radius: 2px;
}
.menus .card {
  height: 4rem;
  flex-grow: 1;
  min-width: 30rem;
  height: 15rem;
  gap: 1rem;
}
.menus .card .card__image {
  background-position: center;
  background-size: cover;
  height: 15rem;
  border-radius: 1rem 1rem 0 0;
}
.menus .card__image-1 {
  background-image: url(../../asset/images/restaurants/resto1.jpg);
}
.menus .card__image-2 {
  background-image: url(../../asset/images/restaurants/resto2.jpg);
}
.menus .card__image-3 {
  background-image: url(../../asset/images/restaurants/resto3.jpg);
}
.menus .card__image-4 {
  background-image: url(../../asset/images/restaurants/resto4.jpg);
}
.menus .card__description {
  border-radius: 0 0 1rem 1rem;
}
.menus .card__description h3 {
  padding: 0.5rem 1rem;
}
.menus .card__description p {
  padding: 0 1rem;
}

/*# sourceMappingURL=style.css.map */
